<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <!-- JDBC Config -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/chichifood_db</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">Pu55y?fuck</property>

        <!-- Hibernate Settings -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- Entity Classes -->
        <mapping class="com.ChiChiFOOD.model.Buyer"/>
        <mapping class="com.ChiChiFOOD.model.User"/>
        <mapping class="com.ChiChiFOOD.model.Seller"/>
        <mapping class="com.ChiChiFOOD.model.Courier"/>
        <!-- ادامهٔ کلاس‌ها در صورت نیاز -->

    </session-factory>
</hibernate-configuration>
